@{
    ViewBag.Title = "Home Page";
}
<div class="content-for">
    <div class="card">
        <div class="card-header">
            <div class="float-left">
                <img class="rounded-cỉcle" src="~/Content/contentFont/img/logo.jpg" height="80" width="80">
            </div>
            <div class="detail-contact">
                <h3 class="font-italic"><kbd>Name:Vũ Đình Thuận </kbd> </h3>
                <h3 class="font-italic"><kbd>Age: 23 </kbd> </h3>
                <h4 class="font-italic"><kbd>Address: TP.Sầm Sơn - Tỉnh Thanh Hóa </kbd> </h4>
            </div>
        </div>
        <div class="card-body">
            <h3>Deatail !</h3>
            <div class="all-contact">
                <p>toàn bộ thông tin của tôi sẽ được ghi ở đây</p>
            </div>
        </div>
    </div>
</div>